/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.jumbotron {
    background-color: #000;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 650px;
}

.jumbotron-js {
    background-color: #ffec00;
}

.navbar-brand {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
}

.navbar-default {
    background-color: #000;
    padding: 25px;
    border-color: transparent;
    margin-bottom: 0px;
}

.navbar-default-transform {
    background-color: #ffec00;
    padding: 20px;
    color: #fff;
    border-color: #ffec00;
}

.navbar-default .navbar-brand {
    color: #fff;
    border: 5px solid #fff;
    border-radius: 1px;
    padding-bottom: 37px;
}

.navbar-default .navbar-brand:hover {
    color: #ffec00;
    border-color: #ffec00;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}


.navbar-default .navbar-nav>li>a:hover {
    color: #ffd500;
}

img.image-home {
    height: 300px;
    width: 300px;
    margin-top: 150px;
}

img.img-topbar {
    height: 20px;
    width: 20px;
}

p.home {
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    margin-top: 20px;
}

.top-bar {
    background-color: #fff;
}

h1.home {
    font-family: 'Fredoka One', Cursive;
    font-size: 40px;
    color: #fff;
    margin-top: 50px;
}

h1.home-black {
    font-family: 'Fredoka One', Cursive;
    font-size: 40px;
    color: #ffec00;
    margin-bottom: 43px;
}

.media-heading-link {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: #000;
    text-decoration: none
}

.media-heading-link:hover {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: #00e1ff;
    cursor: -webkit-grab;
}

p.resume-post {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #000;
    margin-top: 20px;
    margin-bottom: 40px;
}

a.btn-publication {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    background-color: #ffec00;
    color: #000;
    padding: 10px 10px;
    text-decoration: none;
}

a.btn-publication:hover {
    background-color: #00e1ff;
    color: #fff;
}



div.space {
    margin-top: 40px;
    margin-bottom: 40px;
}

.btn-group-lg>.btn, .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    position: relative;
    right: -81%;
}

.img-roundedown {
    width: 28rem;
    height: 16rem;
    margin-left: 20%;
}

.img-roundedown2 {
    width: 28rem;
    height: 16rem;
    margin-right: 20%;
}

ul.ul-home {
    list-style: none;
    margin-top: 90px;
    padding-left: 0;
}

ul.ul-autor {
    list-style: none;
    margin-top: 50px;
    padding-left: 0;
}

li.li-home {
    display: inline-block;
    padding: 15px;
}

li.li-autor {
    display: inline-block;
    padding: 15px;
}

.mdi-lightbulb-outline {
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: 160px;
    color: #fff;
}
    
.mdi-lightbulb-on-outline {
    color: #ffec00;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: 160px;
    cursor: -webkit-grab 
}

.mdi-arrow-right-drop-circle-outline {
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: 160px;
    color: #fff;
}
    
.mdi-arrow-down-drop-circle {
    color: #ffec00;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: 160px;
    cursor: -webkit-grab 
}

.mdi-readability {
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: 160px;
    color: #000;
    position: relative;
    margin-left: 600px;
    margin-top: 136px;
}

.mdi-library {
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: 28px;
    color: #000;
}

.mdi-facebook {
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: 36px;
    color: #333;
}

.mdi-facebook:hover {
    color: #00e1ff
}

.mdi-twitter {
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: 36px;
    color: #333;
}

.mdi-twitter:hover {
    color: #00e1ff
}

.mdi-instagram {
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: 36px;
    color: #333;
}

.mdi-instagram:hover {
    color: #00e1ff
}

.mdi-github-face {
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: 36px;
    color: #333;
}

.mdi-github-face:hover {
    color: #00e1ff
}

.l-blog {
    margin-top: 60px;
    margin-bottom: 40px;
    background-color: #ffec00;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100px;
    position: relative;
}

.l-blog-tittle {
    font-family: 'Fredoka One', Cursive;
    font-size: 40px;
    color: #000;
    position: absolute;
    margin: 2%;
    margin-left: 45%;
}

.l-autor {
    margin-top: 60px;
    margin-bottom: 40px;
    background-color: #000;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100px;
    position: relative;
}

.l-autor-tittle {
    font-family: 'Fredoka One', Cursive;
    font-size: 40px;
    color: #fff;
    position: absolute;
    margin: 2%;
    margin-left: 33%;
}

.l-blog-sub {
    margin-top: 40px;
    margin-bottom: 70px;
    background-color: #fff;
    height: 50px;
    position: relative;
}

.l-blog-subtittle {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    color: #000;
    position: absolute;
    margin-left: 35%;
}

.l-thumbnail-tittle {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    color: #000;
}

.c-media-object {
    display: block;
    max-width: 450px;
    height: auto;
}

.c-thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.c-thumbnail-img {
    height: 150px;
    width: auto;
    display: block;
}

.c-thumbnail-btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.c-thumbnail-btn:hover {
    color: #fff;
    background-color: #00e1ff;
    border-color: #00e1ff;
    text-decoration: none;
}


.img-roundedown3 {
    width: 376px;
    height: 500px;
    margin-right: 20%;
}
